<div class="d-flex justify-content-center">
    <div class="w-75">
        <%= form_with model: @doc do |f| %>
            <div class="mb-3">
                <%= f.label :foto, "Subir una imagen", class:"form-label" %>
                <%= f.file_field :foto, :accept => 'image/jpeg, image/png', class:"form-control"%>
            </div>
            <%= f.hidden_field :usuario_id, :value => usuario_actual.id %>
            <div class="mb-3 d-flex justify-content-center">
                <%= f.submit "Subir DNI", class: "btn btn-primary-orange w-25" %>
            </div>
        <% end %>
    </div>
</div>