<h1 class="text-center mb-3">Agregar auto</h1>

<% if @auto.errors.any? %>
    <div class="mb-3">
        <% @auto.errors.full_messages.each do |msj| %>
            <div class="alert alert-warning mx-auto mb-0 text-center w-75 pt-2 pb-2" role="alert">
                <%= msj %>
            </div>
        <% end %>
    </div>
<% end %>

<div class="d-flex justify-content-center">
    <div class="w-75">
        <%= form_with model: @auto do |f| %>
            <div class="mb-3 row">
                <div class="mb-3 col">
                    <%= f.label :patente, "Patente:", class:"form-label" %>
                    <%= f.text_field :patente, placeholder: "Patente (sin espacios y con letras en mayúscula)",class:"form-control" %>
                </div>
                <div class="mb-3 col">
                    <%= f.label :marca, "Marca:", class:"form-label col" %>
                    <%= f.text_field :marca, placeholder: "Marca",class:"form-control col" %>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="mb-3 col">
                    <%= f.label :modelo, "Modelo:", class:"form-label" %>
                    <%= f.text_field :modelo, placeholder: "Modelo",class:"form-control" %>
                </div>
                <div class="mb-3 col">
                    <%= f.label :color, "Color:", class:"form-label" %>
                    <%= f.text_field :color, placeholder: "Color",class:"form-control" %>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="mb-3 col">
                    <%= f.label :tipo_de_caja, "Tipo de caja:", class:"form-label" %>
                    <%= f.select(:tipo_de_caja, [['Manual', 'Manual'], ['Automática', 'Automatica']], {}, class:"form-select text-center") %>
                </div>
                <div class="mb-3 col">
                    <%= f.label :autonomia, "Autonomía:", class:"form-label" %>
                    <%= f.text_field :autonomia, placeholder: "Autonomía en KM",class:"form-control" %>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="mb-3 col">
                    <%= f.label :tipo_de_motor, "Tipo de motor:", class:"form-label" %>
                    <%= f.select(:tipo_de_motor, [['Combustión', 'Combustion'], ['Eléctrico', 'Electrico']], {}, class:"form-select text-center") %>
                </div>
                <div class="mb-3 col">
                    <%= f.label :foto, "Subir una imagen", class:"form-label" %>
                    <%= f.file_field :foto, :accept => 'image/jpeg, image/png', class:"form-control"%>
                </div>
            </div>
            <div class="mb-3">
                <%= f.label :como_cargar, "Cómo cargarlo:", class:"form-label" %>
                <%= f.text_area :como_cargar, placeholder: "Cómo cargarlo",class:"form-control" %>
            </div>
            <div class="mb-3 d-flex justify-content-center">
                <%= f.submit "Agregar", class: "btn btn-primary-orange w-25" %>
            </div>
        <% end %>
    </div>
</div>