<h1 class="text-center mt-3 mb-4">Cargar saldo</h1>

<% flash.each do |tipo, msj| %>
    <div class="alert alert-warning mx-auto mb-3 text-center w-75 pt-2 pb-2" role="alert">
        <%= msj %>
    </div>
<% end %>

<div class="d-flex justify-content-center">
    <%= form_tag confirmar_path, method: "get" do %>
        <div class="mb-4">
            <%= label_tag :monto, "Monto (en pesos):", class:"form-label" %>
            <%= text_field_tag :monto, nil, class:"form-control" %>
        </div>
        <div class="mb-3 d-flex justify-content-center">
            <%= link_to "Volver", usuario_path(usuario_actual) ,class: "btn btn-primary-orange col px-0 mx-sm-2" %>  
            <%= submit_tag "Continuar", class: "btn btn-primary-orange col px-0 mx-sm-2" %>
        </div>
    <% end %>
</div>